<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Muokkaa reseptiä</title>
</head>
<body>
	<h1 style="text-align: center">Muokkaa reseptiä</h1> 
		<div style="text-align: center">
			<form th:object="${recipe}" th:action="@{/saveRecipe}" action="#" method="post">
			
			<input type="hidden" id="id" th:field="*{id}" />
			
			<label for="name">Nimi: </label>
			<input type="text" id="name" th:field="*{name}" />
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div><br><br> 
			
		  	<label>Vaikeustaso: </label>
			 <select id="difficulty" th:field="*{difficulty}">
       			<option th:each="difficulty: ${difficulties}" th:value="${difficulty.difficultyid}" th:text="${difficulty.name}"></option>
    		</select><br><br>
    		
			<label for="guide" >Ohje: </label>
			<textarea id="guide" th:field="*{guide}" style="width: 300px; height: 200px; resize: vertical;"></textarea>
			<div th:if="${#fields.hasErrors('guide')}" th:errors="*{guide}">Error</div><br><br>
			
			<label for="ranking">Arvosana (1 huono - 5 paras): </label>
			<input type="number" id="ranking" th:field="*{ranking}" min="1" max="5"/><br><br>
			
			<label>Tyyppi: </label>
			 <select id="type" th:field="*{type}">
       			<option th:each="type: ${types}" th:value="${type.typeid}" th:text="${type.name}"></option>
    		</select><br><br>
			
			
			<input type="submit" value="Save"></input>
			
			</form>
		</div>
</body>
</html>