<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Ohje</title>
</head>
<body>

<h1 style="text-align: center">Reseptin ohje</h1>
	<div style="text-align: center">
    	<form th:object="${recipe}">
        	<input type="hidden" id="id" th:field="*{id}" />

        	<label for="guide">Ohje:</label><br>
        	<textarea id="guide" th:field="*{guide}" readonly style="width: 300px; height: 200px; resize: vertical;"></textarea><br><br>

        	<a href="/recipelist" class="btn btn-danger" style="margin-left: 10px">Palaa reseptilistaan</a>
    	</form>
	</div>
</body>
</html>